
# Added by me
config/
src/resources/db.xml
src/resources/projects.json

# Created by https://www.gitignore.io/api/composer,visualstudiocode,bower

### Composer ###
composer.phar
/vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock


### VisualStudioCode ###
.vscode



### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp