body
{
	/*background-color: #f2f2f2;*/
}

header
{
	padding-left: 15px;
	/*background: #809fff;*/
}

.navbar
{
	margin-bottom: 0;
}

.jumbotron
{
	margin-bottom: 0;
}

#me
{
	width: 128px;
}

.proj
{
	position: relative;
	/*left: 35px;*/
	border-color: gray;
	border-width: 3px;
	border-style: outset;
	opacity: 0.4;
	width: 13%;
	/*height: 13%;*/
}

.proj:hover
{
	opacity: 1.0;
}

footer
{
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #ccc;
}

#fb
{
	width: 24px;
    height: 24px;
    margin: 0 5px;
}

#gh
{
	width: 24px;
    height: 24px;
}

.skills-list
{
	/*padding: 0px;	*/
}