body
{
	/*font-family: 'Cabin', sans-serif;*/
	/*background: #751aff;*/
	padding-left: 10px;
}

header
{
	/*background: #809fff;*/
}

div#about
{
	/*position: relative;*/
	overflow: auto;
}

#about_txt
{
	position: relative;
}

#me
{
	/*position: absolute;*/
	/*float: left;*/
	width: 5%;
	/*height: 5%;*/
	padding-right: 10px;
}

.proj
{
	position: relative;
	left: 35px;
	border-color: gray;
	border-width: 3px;
	border-style: outset;
	opacity: 0.4;
	width: 13%;
	/*height: 13%;*/
}

.proj:hover
{
	opacity: 1.0;
}

/*
#pancakes
{
	width: 13%;
	height: 13%;
}

#triangle_img
{
	width: 13%;
	height: 13%;
}

#resume_img
{
	width: 13%;
	height: 13%;	
}
*/

footer
{
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #ccc;
}

#fb
{
	width: 20px;
    height: 20px;
    margin: 0 5px;
}